h1{
	text-align:center;
	margin: 5%;
	
}
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: "Times New Roman",Arial;
}
#food{
	border:2px solid black;
	margin:20px;
	background-color: lightgray;
}
#beef{
	background-color:#DC143C;
	color:white;
}
#chick{
	background-color: lightpink;
}
#sushi{
	background-color:#FFEA00;
}
#dummy{
	padding: 15px 10px 20px 10px;
}
h2{
	border:2px solid black;
	border-top:none;
	border-right:none;
	width:40%;
	position: relative;
	left:60%;
    text-align:center;
    overflow: auto;
}
@media(min-width: 768px) and (max-width:991px){
	.col1,.col2{
		width:45%;
		float: left;
		margin:30px;	
	}
	.col3{
		width:94%;
		clear:left;
	}
}
@media(min-width: 992px) {
	.col11,.col22,.col33{
		width:29%;
		float:left;
	
	}

}