#header-nav{
	background-color:#FFB6C1!important;
	padding-right:30px;
}
#home{
	font-size:1.4em;
	padding-left: 10px;
}
.dropdown-divider{
	margin: 0;
	border:1px solid green;
}
#hit{
	margin-right: 10px;
}
.kit,h5{
	padding:20px;
}
#chicken,#beef,#sushi{
	background-color: #FFA500;
	padding:20px;
}
.chdiv,.bdiv,.sdiv{
	height:auto;
}
.col-md-4{
	float:left;
	margin-bottom:30px;
}
#back{
	text-decoration:none;
}